*{
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', 'sans-serif';
}

.navbar{
    width: 100%;
    height: 50px;
    background-color: #151515;
    font-family: 'Sen', sans-serif;
}

.navbar-container{
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;
}

.logo-container{
    flex: 1;
}

.logo{
    font-size: 30px;
    color: #A8D998;
}

.menu-container{
    flex: 6;
}

.menu-list{
    display: flex;
    list-style: none;
}

.menu-list-item{
    margin-right: 30px;
}

.menu-list-item.active{
    font-weight: bold;
}

.menu-link{
    text-decoration: none;
}

.menu-link:visited{
    text-decoration: none;
    color: white;
}

.profile-container{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}

.profile-text-container{
    margin: 0 20px;
}

.profile-picture{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}


.dropbtn {
    background: none;
    color: white;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #A8D998;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #A8D998;
}


.toggle{
    width: 40px;
    height: 20px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.toggle-icon{
    color: goldenrod;
}

.toggle-ball{
    width: 18px;
    height: 18px;
    background-color: black;
    position: absolute;
    right: 1px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.sidebar{
    width: 50px;
    height: 100%;
    background-color: #151515;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.left-menu-icon{
    color: white;
    font-style: 20px;
    margin-bottom: 50px;
}

.container{
    background-color: #151515;
    min-height:calc(100vh - 50px);
    color: white;
}

.content-container{
    margin-left: 50px;

}


.featured-content{
    border-radius: 20px;
    height: 50vh;
    padding: 50px;
    background: linear-gradient(to bottom, rgba(0,0,0,0), #151515), url('img/wallpapersden.com_official-everything-everywhere-all-at-once-hd_1920x1080.jpg');
}

.featured-content-series{
    border-radius: 20px;
    height: 50vh;
    padding: 50px;
    background: linear-gradient(to bottom, rgba(0,0,0,0), #151515), url('img/bcs.jpg');
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

.featured-title{
    width: 200px;
    
}

.featured-desc{
    width: 500px;
    color: lightgray;
    margin: 30px 0;
    font-size: 26px;
    overflow: hidden;
}

.featured-button{
    background-color: #A8D998;
    color: #151515;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.featured-button:hover{
    opacity: 0.8;
    transform: scale(1.2);
}

.movie-list-title{
    margin-left: 30px;
}

.movie-list-container{
    padding: 0 20px;
}

.movie-list-wrapper{
    position: relative;
    overflow: hidden;
}

.movie-list{
    display: flex;
    align-items: center;
    height: 300px;
    margin-left: 20px;
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
}

.movie-list-item{
    margin-right: 30px;
    position: relative;
    
}





.movie-list-item:hover .movie-list-item-img{
    transform: scale(1.2);
    margin: 0 10px;
    opacity: 0.5;
}

.movie-list-item:hover .movie-list-item-button{
    opacity: 1;
}

.movie-list-item-img{
    width: 270px;
    height: 200px;
    object-fit: cover;
    transition: all 0.2s ease-in-out;
    border-radius: 20px;
}


.movie-list-item-button{
    padding: 10px;
    background-color: #A8D998;
    color: black;
    border-radius: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    left: 100px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.arrow{
    font-size: 120px;
    position: absolute;
    top: 90px;
    right: 0;
    color: lightgray;
    opacity: 0.5;
    cursor: pointer;
}

.container.active{
    background-color: white;
}

.movie-list-title.active{
    color: black;
}

.navbar-container.active{
    background-color: white;
    color: black;
}

.sidebar.active{
    background-color: white;
}

.left-menu-icon.active{
    color: black;
}

.toggle.active{
    background-color: black;
}

.toggle-ball.active{
    background-color: white;
    transform: translateX(-20px);
}

.dropbtn.active{
    color: black;
}
.featured-content.active{
    background: linear-gradient(to bottom, rgba(0,0,0,0), #ffffff), url('img/wallpapersden.com_official-everything-everywhere-all-at-once-hd_1920x1080.jpg');
}


.featured-content-series.active{
    background: linear-gradient(to bottom, rgba(0,0,0,0), #ffffff), url('img/bcs.jpg');
}

.featured-desc.active{
    color: #151515;
    font-weight: bold;
}

.menu-link.active{
    color: black;
}

@media only screen and (max-width: 940px){
    .menu-container{
        display: none;
    }

    .featured-content{
        background: linear-gradient(to bottom, rgba(0,0,0,0), #151515), url('img/EEAAOresp.jpg');
        background-repeat: no-repeat;
    }

    .featured-content-series{
        background: linear-gradient(to bottom, rgba(0,0,0,0), #151515), url('img/BCSRESP.jpg');
        background-repeat: no-repeat;
    }
    .featured-desc{
        display: none;
    }

    .profile-container{
        margin-left: 25px;
    }
}
